.static {
  position: static
}

.fixed {
  position: fixed
}

.absolute {
  position: absolute
}

.relative {
  position: relative
}

.sticky {
  position: sticky
}

.m-auto {
  margin: auto
}

.my-2 {
  margin-top: 0.5rem;
  margin-bottom: 0.5rem
}

.mx-auto {
  margin-left: auto;
  margin-right: auto
}

.mb-12 {
  margin-bottom: 3rem
}

.block {
  display: block
}

.inline-block {
  display: inline-block
}

.inline {
  display: inline
}

.flex {
  display: flex
}

.table {
  display: table
}

.grid {
  display: grid
}

.hidden {
  display: none
}

.h-full {
  height: 100%
}

.h-10 {
  height: 2.5rem
}

.flex-shrink {
  flex-shrink: 1
}

.flex-grow {
  flex-grow: 1
}

.flex-col {
  flex-direction: column
}

.overflow-auto {
  overflow: auto
}

.rounded {
  border-radius: 0.25rem
}

.border-2 {
  border-width: 2px
}

.border {
  border-width: 1px
}

.border-black {
  --tw-border-opacity: 1;
  border-color: rgb(26 21 25 / var(--tw-border-opacity))
}

.bg-white {
  --tw-bg-opacity: 1;
  background-color: rgb(251 251 250 / var(--tw-bg-opacity))
}

.bg-red {
  --tw-bg-opacity: 1;
  background-color: rgb(241 88 76 / var(--tw-bg-opacity))
}

.bg-black {
  --tw-bg-opacity: 1;
  background-color: rgb(26 21 25 / var(--tw-bg-opacity))
}

.p-5 {
  padding: 1.25rem
}

.py-5 {
  padding-top: 1.25rem;
  padding-bottom: 1.25rem
}

.px-2 {
  padding-left: 0.5rem;
  padding-right: 0.5rem
}

.text-center {
  text-align: center
}

.text-3xl {
  font-size: 1.875rem;
  line-height: 2.25rem
}

.font-bold {
  font-weight: 700
}

.font-medium {
  font-weight: 500
}

.font-semibold {
  font-weight: 600
}

.uppercase {
  text-transform: uppercase
}

.capitalize {
  text-transform: capitalize
}

.text-black {
  --tw-text-opacity: 1;
  color: rgb(26 21 25 / var(--tw-text-opacity))
}

.text-blue {
  --tw-text-opacity: 1;
  color: rgb(54 71 125 / var(--tw-text-opacity))
}

.text-white {
  --tw-text-opacity: 1;
  color: rgb(251 251 250 / var(--tw-text-opacity))
}

.active\:bg-blue:active {
  --tw-bg-opacity: 1;
  background-color: rgb(54 71 125 / var(--tw-bg-opacity))
}

.active\:bg-black:active {
  --tw-bg-opacity: 1;
  background-color: rgb(26 21 25 / var(--tw-bg-opacity))
}
